---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/compositions/Nav.svelte';
import DataEditor from '../components/compositions/DataEditor.svelte';

const links = [
	{
		href: '/',
		text: 'Searcher'
	},
	{
		href: '/config',
		text: 'Configure'
	},
	{
		href: '/info',
		text: 'Info'
	}
];
---

<Layout title="Sifter" description="A web app to sift through your logs">
	<Nav
		links={links}
		activeHref="/config"
		logoLarge="/icons/icon-512x512.png"
		logoSmall="/icons/icon-512x512.png"
		client:load
	/>
	<main>
		<div class="h-[80vh] w-full p-4 pt-0 font-monospace">
			<h2 class="p-4">Edit Your Configuration:</h2>
			<hr />
			<h3 class="p-4">Search Profiles:</h3>
			<DataEditor dataType="searchProfile" client:load />
		</div>
	</main>
</Layout>
