---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/compositions/Nav.svelte';
import LogViewer from '../components/LogViewer/LogViewer.svelte';

const links = [
	{
		href: '/',
		text: 'Home'
	},
	{
		href: '/info',
		text: 'Info'
	},
	{
		href: '/extra',
		text: 'Extra'
	}
];
---

<Layout title="Welcome to Astro." description="temp">
	<Nav
		links={links}
		activeHref="/"
		logoLarge="/icons/icon-512x512.png"
		logoSmall="/icons/icon-512x512.png"
		client:load
	/>
	<main>
		<div class="h-[80vh] w-full p-4">
			<LogViewer client:load />
		</div>
	</main>
</Layout>
