---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/compositions/Nav.svelte';
import LogViewer from '../components/LogViewer/LogViewer.svelte';

const links = [
	{
		href: '/',
		text: 'Searcher'
	},
	{
		href: '/config',
		text: 'Configure'
	},
	{
		href: '/info',
		text: 'Info'
	}
];
---

<Layout title="Sifter" description="A web app to sift through your logs">
	<Nav
		links={links}
		activeHref="/"
		logoLarge="/icons/icon-512x512.png"
		logoSmall="/icons/icon-512x512.png"
		client:load
	/>
	<main>
		<div class="h-[80vh] w-full p-4 pt-0">
			<LogViewer client:load />
		</div>
	</main>
</Layout>
