---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.svelte';

const links = [
	{
		href: '/',
		text: 'Home'
	},
	{
		href: '/info',
		text: 'Info'
	},
	{
		href: '/extra',
		text: 'Extra'
	}
];
---

<Layout title="Welcome to Astro." description="temp">
	<Nav
		links={links}
		activeHref="/"
		logoLarge="/icons/icon-512x512.png"
		logoSmall="/icons/icon-512x512.png"
		client:load
	/>
	<main></main>
</Layout>
